.quality-container{
    background-color: #ee0d09;
    display: grid;
    grid-template-columns: 50% 50%;
    color: #fff;
}
.text-content{
    max-width: 500px;
    margin: 0 auto;
    padding: 70px 0px;
}
.text-content h1{
    font-size: 35px;
    font-weight: 700;
    color: rgb(0, 0, 174);
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-content p{
    font-family: 'Yantramanav', sans-serif;
}
.img-content{
    margin-top: -80px;
}
.img-content img{
    max-width: 100%;
    border-radius: 3px;
}
@media only screen and (min-width: 380px) and (max-width: 576px) {
    .quality-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .text-content h1{
        font-size: 25px;
    }
    .text-content{
        padding: 20px;
    }
}